<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }
 
</style>

<div class="pagetitle">
    <h1>Liste Catégorie </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        {% include 'admin/tab/_nav_tab_produit.html.twig' %}

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                {#<h5 class="card-title fw-bold">Liste Categorie </h5>#}
              </div>
             
              <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 mt-4 mb-5">
                <button class="btn btn-primary btn-sm" style="width: 100%;"   onclick="return newCategorie(true)">Nouveau catégorie </button>
              </div>
              
            </div>
            <table class="table table-striped" id="liste-table-categorie" style="width: 100%;">
              <thead>
                    {% include 'admin/categorie/_table.html.twig' with { 'type': 'thead' } %}
              </thead>
              <tbody>
                {% if listes|length > 0 %}

                  {% for liste in listes %}
                      {% include 'admin/categorie/_table.html.twig' with { 'type': 'tbody', 'liste': liste } %}
                  {% endfor %}
                
                {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement trouvé</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                         
                    </tr>
                {% endif %}
                
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
    <div id="blocModalCategorieEmpty">
    </div>
  </section>

  <script>
    //datatable
    
    $(document).ready(function() {
      $('.tab-categorie').addClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').addClass('active');

      $('.tab-user').removeClass('active');
      $('#tab-utilisateur').removeClass('active');

      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      
      $('#tab-dashboard').removeClass('active');
      $('#tab-profile').removeClass('active');
     
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
      
      
      $('#tab-application').removeClass('active');
      $('#tab-profile').removeClass('active');
       $('#tab-compte_1').removeClass('active');
      $('#tab-produit-type').removeClass('active');
      $('.tab-produit-type').removeClass('active');


      $('#liste-table-categorie').DataTable({
        responsive: true,
        language: {
          url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json',
      },
        border: false,
        scrollX: '100%',
        pageLength: 10,
        scrollCollapse: false,
      });
    });

    function newCategorie(isNew = false) {
            $.ajax({
                url: '/admin/categorie/new',
                type: 'POST',
                data: {isNew: isNew},
                success: function (response) {
                    $("#blocModalCategorieEmpty").empty();
                    $("#blocModalCategorieEmpty").append(response.html);
                    $('#modalNewCategorie').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de la catégorie.');
                }
            });
    }
  </script>