
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card p-5 affaire-header">
            <div class="row">
                <div class="col-md-4 col-12 mb-3">
                    <div class="form-group">
                        <h4 class="affaire-title"><i class="bi bi-folder"></i> <span class="mx-1 fw-bold">Lorem(Lorem)</span></h4>
                    </div>
                </div>
                <div class="col-md-5 col-12 mb-4">
                    <div class="form-group">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
                            <a href="#" class="mb-0 me-md-2 fiche-text text-affaire">
                                <i class="bi bi-person-vcard-fill"></i>
                                <span>Fiche fournisseur</span>
                            </a>
                            <a href="#" class="mb-0 text-danger mx-3 text-affaire">
                                <i class="bi bi-list"></i> 
                                <span>Liste des projets</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-12 mb-4">
                    <div class="d-flex justify-content-center">
                        {#<button class="btn btn-primary btn-sm px-3 affaire-btn">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Ajouter une affaire
                        </button>#}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-sm px-4 affaire-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-plus-circle"></i>
                              <span class="mx-2">Ajouter</span>
                      
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#" onclick="return newAffaire({{compte.id}})">Un devis</a></li>
                              <li><a class="dropdown-item" href="#" >Une commande</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="card p-5">
        <table class="table table-striped" id="table-produit-fournisseur" style="width: 100%;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Référence</th>
                    <th>Compte</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in listes %}
                <tr>
                    <td> {{produit.nom}} </td>
                    <td> {{produit.reference}} </td>
                    <td> 
                        {% for compte in produit.comptes %} 
                            {{compte.nom}}
                        {% endfor %}
                    </td>
                </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucun enregistrement trouvé</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       </div>
      </div>
    </div>
   
  </section>

  <script>

$(document).ready(function() {
    $('#tab-compte_1').removeClass('active').empty();
    $('#tab-compte_2').removeClass('active').empty();
    $('#affaires_fournisseur').append(response.html).addClass('active');
    $('#affaires_client').removeClass('active').empty();
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');
      $('.tab-import-produit').removeClass('active');
      $('#tab-import-produit').removeClass('active');

      $('.tab-user').removeClass('active');
      $('#tab-utilisateur').removeClass('active');

      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      
      $('#tab-dashboard').removeClass('active');
      $('#tab-profile').removeClass('active');
     
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
       $('#tab-transfert-produit').css('display', 'none');
     
      
      $('#tab-application').removeClass('active');
      $('#tab-profile').removeClass('active');
      $('#tab-produit-type').removeClass('active');
      $('.tab-produit-type').removeClass('active');
    $('#tab-import-produit').css('display', 'none');
    $('#table-produit-fournisseur').DataTable({
            responsive: true,
            language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json',
        },
            border: false,
            scrollX: '100%',
            pageLength: 10,
            scrollCollapse: false,
        });
      
    });


</script>