
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card p-5">
            <div class="row">
                <div class="col-md-3 col-12">
                    <div class="form-group">
                        <i class="bi bi-folder"></i>
                        <h3>Lorem(Lorem)</h3>
                    </div>
                </div>
                <div class="col-md-7 col-12">
                    <div class="form-group">
                        <div class="fiche">
                            <i class="bi bi-person-lines-fill"></i>
                            <p>Fiche <span class="fiche-title">client</span></p>
                        </div>
                        <div class="liste">
                            <i class="bi bi-list"></i>
                            <p>Liste des projets</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-12">
                    <div class="form-group">
                        <button class="btn- btn-primary btn-sm">
                            <i class="bi bi-plus-circle-dotted"></i>
                            Ajouter une affaire
                        </button>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
   
  </section>

  <script>

$(document).ready(function() {
      $('#affaires').addClass('active');
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');
      $('.tab-import-produit').removeClass('active');
      $('#tab-import-produit').removeClass('active');

      $('.tab-user').removeClass('active');
      $('#tab-utilisateur').removeClass('active');

      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      
      $('#tab-dashboard').removeClass('active');
      $('#tab-profile').removeClass('active');
     
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
      $('#tab-transfert-produit').css('display', 'none');
      
      $('#tab-application').removeClass('active');
      $('#tab-profile').removeClass('active');
       $('#tab-compte_1').removeClass('active');
      $('#tab-compte_2').removeClass('active');
      $('#tab-produit-type').removeClass('active');
      $('.tab-produit-type').removeClass('active');
    $('#tab-import-produit').css('display', 'none');
      
    });
   
  </script>