
<section class="section">
    <div class="row">
      <div class="col-lg-12">
         {# entete compte #}
         {% include 'admin/affaires/entete_compte.html.twig' with { 'compte': affaire.compte } %}
        {# entete affaire #}
        {% include 'admin/affaires/entete_affaire.html.twig' with { 'affaire': affaire } %}
        
        <div class="affaire-recherche">
            <div class="row">
                <div class="col-md-2 col-12">
                    <div class="card affaire-info-tag p-4 mb-3 position-relative">
                        <h6 class="info fw-bold mb-3 "><i class="bi bi-info-circle-fill"></i><span class="mx-2">Information</span></h6>
                        {#<div class="filter position-absolute top-0 end-0 p-3">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>
                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>#}
                        <div class="">
                            <p><a href="#" class="text-black">Tag</a></p>
                            <p><a href="#" class="text-black">Contact</a></p>
                            <p><a href="#" class="text-black">Pipeline</a></p>
                        </div>
                        <h6 class="my-3"><i class="bi bi-cash-coin"></i><span class="mx-2">Financier</span></h6>
                        <div class="">
                            <p><a href="#" class="text-black">Rentabilité</a></p>
                            <p><a href="#" class="text-black">Factures</a></p>
                            <p><a href="#" class="text-black">Bon de livraison</a></p>
                        </div>
                        <h6 class="my-3"><a href="#" class="text-black"><i class="bi bi-bell-fill"></i><span class="mx-2">Rappel</span></a></h6>
                        <h6><a href="#" class="text-black"><i class="bi bi-calendar4"></i><span class="mx-2">Tâches</span></a></h6>
                    </div>                    
                </div>  
                
                <div class="col-md-10 col-12">
                    <div class="affaire-info card pt-3 pb-5 px-4">
                        <h3 class="info-title"><i class="bi bi-bell-fill"></i><span class="mx-2">Information</span></h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <i class="bi bi-laptop"></i><span class="mx-2">Nom</span>
                            </div>
                            <div class="col-md-8 col-12">
                                <p class="data-info py-2">
                                    <span>{{affaire.nom}}</span> <a href="#" class="text-black"><i class="bi bi-pencil-fill mx-2"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <i class="bi bi-list-task"></i><span class="mx-2">Numéro commande client</span>
                            </div>
                            <div class="col-md-8 col-12">
                                <p class="data-info py-2">
                                    <span>{{affaire.statut}} n°{{affaire.id}}</span><a href="#" class="text-black"><i class="bi bi-pencil-fill mx-2"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <i class="bi bi-calendar2-check-fill"></i><span class="mx-2">Date de création</span>
                            </div>
                            <div class="col-md-8 col-12">
                                <p class="data-info py-2">
                                    <span> {{affaire.dateCreation|date('d/m/Y')}} </span><a href="#" class="text-black"><i class="bi bi-pencil-fill mx-2"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <i class="bi bi-calendar2-check-fill"></i><span class="mx-2">Date fin</span>
                            </div>
                            <div class="col-md-8 col-12">
                                <p class="data-info py-2">
                                    <span>2024/07/15</span><a href="#" class="text-black"><i class="bi bi-pencil-fill mx-2"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <i class="bi bi-laptop"></i><span class="mx-2">Nombre de jour</span>
                            </div>
                            <div class="col-md-8 col-12">
                                <p class="data-info py-2">
                                    <span>4</span> <a href="#" class="text-black"><i class="bi bi-pencil-fill mx-2"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
      </div>
    </div>
   
  </section>

  <script>

$(document).ready(function() {
    $('#tab-compte_1').removeClass('active').empty();
    $('#tab-compte_2').removeClass('active').empty();
    $('#affaires_fournisseur').removeClass('active').empty();
    $('#affaires_client').removeClass('active').empty();
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');
      $('.tab-import-produit').removeClass('active');
      $('#tab-import-produit').removeClass('active');

      $('.tab-user').removeClass('active');
      $('#tab-utilisateur').removeClass('active');

      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-categorie-permission').removeClass('active');
      
      $('#tab-dashboard').removeClass('active');
      $('#tab-profile').removeClass('active');
     
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
       $('#tab-transfert-produit').css('display', 'none');
     
      
      $('#tab-application').removeClass('active');
      $('#tab-profile').removeClass('active');
      $('#tab-produit-type').removeClass('active');
      $('.tab-produit-type').removeClass('active');
      $('#tab-import-produit').css('display', 'none');
      $('#tab-info-affaire').addClass('active');
      
    });
   
</script>