<style>
    a {
        font-size: 14px;
    }

    .info {
        color: #0d6efd !important;
    }

    .number_doc {
        background-color: #0d6efd;
        border-radius: 5px;
        padding: 3px 8px;
        float: right;
    }

    .card-list {
        background-color: #ebecee;
    }
</style>
<div class="">
    <h6 class="info fw-bold mb-3 "><a href="#tab-info-affaire" onclick="return information({{affaire.id}})"><i class="bi bi-info-circle-fill"></i><span class="mx-2">Information</span></a></h6>

    <div class="card-list p-3">
        <a href="#" class="text-black d-block mb-3">Tag</a>
        <a href="#" class="text-black d-block mb-3">Contact</a>
        <a href="#" class="text-black d-block mb-3">Pipeline</a>
    </div>
    <h6 class="my-4 info"><a href="#tab-financier-affaire" onclick="return financier({{affaire.id}})"><i class="bi bi-cash-coin"></i><span class="mx-2">Financier</span></a></h6>
    <div class="card-list p-3">
        <a href="#" class="text-black d-block mb-3">Rentabilité</a>
        <a href="#" class="text-black d-block mb-3 info">Factures</a>
        <a href="#" class="text-black d-block mb-3 info">Bon de livraison</a>
    </div>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-bell-fill"></i><span class="mx-2">Rappel</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-calendar4"></i><span class="mx-2">Tâches</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-list"></i><span class="mx-2">Gantt</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-stickies-fill"></i><span class="mx-2">Notes</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-file-text-fill"></i><span class="mx-2">Document</span><span class="number_doc text-white">1</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-send-fill"></i><span class="mx-2">Mail</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-file-earmark-bar-graph-fill"></i><span class="mx-2">Reporting</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-globe2"></i><span class="mx-2">Universign</span></a></h6>
    <h6 class="my-4"><a href="#" class="text-black"><i class="bi bi-star-fill"></i><span class="mx-2">Evaluation</span></a></h6>
    <div class="card-list p-3">
        <a href="#" class="text-black d-block mb-3">Question de satisfaction</a>
        <a href="#" class="text-black d-block mb-3">Questionnaire 2</a>
        <a href="#" class="text-black d-block mb-3">Pièces du candidat</a>
    </div>
</div>