<aside id="sidebar" class="sidebar">

    <ul class="nav sidebar-nav flex-column" id="sidebar-nav">

      <li class="nav-item" id="dashboard">
        <a class="nav-link active" href="#tab-dashboard" data-placement="right" data-toggle="tab" onClick="return showTabDasboard()">
          <i class="bi bi-grid"></i>
          <span>Tableau de board</span>
        </a>
      </li>

      <li class="nav-item" id="categorie">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-grid"></i>
          <span>Categories</span>
        </a>
      </li>

      <li class="nav-item" id="contact">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-telephone"></i>
          <span>Contact</span>
        </a>
      </li>

      <li class="nav-item" id="produit">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-basket"></i>
          <span>Produit</span>
        </a>
      </li>
      <li class="nav-item" id="profile">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-profile" onClick="return showTabProfile()">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item" id="category_permission">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-categorie-permission" onClick="return showTabCategoriePermission()">
          <i class="bi bi-share"></i>
          <span>Categorie permission</span>
        </a>
      </li>
       <li class="nav-item" id="permission">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-permission" onClick="return showTabPermission()">
          <i class="bi bi-share"></i>
          <span>Permission</span>
        </a>
      </li>
      <li class="nav-item" id="privilege">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-privilege" onClick="return showTabPrivilege()">
          <i class="bi bi-share"></i>
          <span>Privilege</span>
        </a>
      </li>
      <li class="nav-item" id="application">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-application" onClick="return showTabApplication()">
          <i class="bi bi-person"></i>
          <span>Application</span>
        </a>
      </li>

      <li class="nav-item" id="utilisateur">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-utilisateur" onClick="return showTabUtilisateur()">
          <i class="bi bi-person"></i>
          <span>Utilisateur</span>
        </a>
      </li>

    </ul>

  </aside>