<aside id="sidebar" class="sidebar">

    <ul class="nav sidebar-nav flex-column" id="sidebar-nav">

      <li class="nav-item" id="dashboard" title="Tableau de board">
        <a class="nav-link active" href="#tab-dashboard" data-placement="right" data-toggle="tab" onClick="return showTabDasboard()">
          <i class="bi bi-grid"></i>
          <span>Tableau de board</span>
        </a>
      </li>

      <li class="nav-item" id="categorie" title="Catégories">
        <a class="nav-link collapsed" href="#tab-categorie" onClick="return showTabCategorie()">
          <i class="bi bi-grid"></i>
          <span>Catégories</span>
        </a>
      </li>

      <li class="nav-item" id="contact" title="Contact">
        <a class="nav-link collapsed" href="#tab-produit-type" onClick="return showTabProduitType()">
          <i class="bi bi-tag"></i>
          <span>Produit type</span>
        </a>
      </li>

    
      <li class="nav-item" id="clients" title="Clients">
        <a class="nav-link collapsed" href="#tab-compte_1" onClick="return showTabCompte(1)">
          <i class="bi bi-person"></i>
          <span>Clients</span>
        </a>
      </li>
      <li class="nav-item" id="fournisseur" title="Fournisseurs">
        <a class="nav-link collapsed" href="#tab-compte_2" onClick="return showTabCompte(2)">
          <i class="bi bi-person"></i>
          <span>Fournisseurs</span>
        </a>
      </li>
      <li class="nav-item" id="devis-client" title="Devis client">
        <a class="nav-link collapsed" href="#tab-devis-client" onClick="return showTabDevisClient()">
          <i class="bi bi-person"></i>
          <span>Devis clients</span>
        </a>
      </li>
      <li class="nav-item" id="commande-client" title="commande-client">
        <a class="nav-link collapsed" href="#tab-commande-client" onClick="return showTabCommandeClient()">
          <i class="bi bi-person"></i>
          <span>Commandes clients</span>
        </a>
      </li>
       <li class="nav-item" id="facture-client" title="Facture clients">
        <a class="nav-link collapsed" href="#tab-facture" onclick="return showTabFacture()">
          <i class="bi bi-currency-euro"></i>
          <span>Factures clients</span>
        </a>
      </li>
      {# <li class="nav-item" id="categorie">
        <a class="nav-link collapsed" href="#tab-categorie" onClick="return showTabCategorie()">
          <i class="bi bi-grid"></i>
          <span>Catégories</span>
        </a>
      </li> #}
      <li class="nav-item" id="produit-categorie">
        <a class="nav-link collapsed" href="#tab-produit-categorie" onClick="return showTabProduitCategorie()">
          <i class="bi bi-bag"></i>
          <span>Produit/Categories</span>
        </a>
      </li>
      <li class="nav-item" id="application" title="Application">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-application" onClick="return showTabApplication()">
          <i class="bi bi-app"></i>
          <span>Application</span>
        </a>
      </li>
      {# <li class="nav-item" id="profile">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-profile" onClick="return showTabProfile()">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li> 
      <li class="nav-item" id="category_permission">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-categorie-permission" onClick="return showTabCategoriePermission()">
          <i class="bi bi-folder"></i>
          <span>Catégorie permission</span>
        </a>
      </li>
       <li class="nav-item" id="permission" title="Permission">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-permission" onClick="return showTabPermission()">
          <i class="bi bi-shield-lock"></i>
          <span>Permission</span>
        </a>
      </li>
      <li class="nav-item" id="privilege" title="Privilège">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-privilege" onClick="return showTabPrivilege()">
          <i class="bi bi-award"></i>
          <span>Privilège</span>
        </a>
      </li>
     

      <li class="nav-item" id="utilisateur" title="Utilisateur">
        <a class="nav-link collapsed" data-placement="right" data-toggle="tab" href="#tab-utilisateur" onClick="return showTabUtilisateur()">
          <i class="bi bi-person"></i>
          <span>Utilisateur</span>
        </a>
      </li>#}

    </ul>

  </aside>