<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link tab-user" aria-current="page" href="#tab-utilisateur" onClick="return showTabUtilisateur()">Utilisateur</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-permission" href="#tab-permission" onClick="return showTabPermission()">Permission</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-privilege" href="#tab-privilege" onClick="return showTabPrivilege()">Privilège</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-cat-permission" href="#tab-categorie-permission" onClick="return showTabCategoriePermission()">Catégorie permission</a>
    </li>
</ul>

