<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link tab-categorie" aria-current="page" href="#tab-categorie" onClick="return showTabCategorie()" >Catégorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-produit-categorie" href="#tab-produit-categorie" onClick="return showTabProduitCategorie()">Produit catégorie</a>
    </li>
   
</ul>

