<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link tab-categorie" aria-current="page" href="#tab-categorie" onClick="return showTabCategorie()" >Catégorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-produit-type" href="#tab-produit-type" onClick="return showTabProduitType()">Type</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-produit-categorie" href="#tab-produit-categorie" onClick="return showTabProduitCategorie()">Produit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tab-import-produit" href="#tab-import-produit" onClick="return showTabImportProduit()">Import</a>
    </li>
   
</ul>

