{% extends 'admin/base.html.twig' %}

{% block title %}Mon profil | CVB {% endblock %}

{% block body %}

        <div id="tab-dashboard" class="tab-pane active">
                {% include 'admin/dashboard/index.html.twig' %}
        </div> 
        <div id="tab-categorie-permission" class="tab-pane">
        </div>
        <div id="tab-permission" class="tab-pane">
        </div>  
        <div id="tab-privilege" class="tab-pane">
        </div>  
        <div id="tab-utilisateur" class="tab-pane">
        </div>
        <div id="tab-application" class="tab-pane">
        </div>
        <div id="tab-profile" class="tab-pane">
        </div>
        <div id="tab-categorie" class="tab-pane">
        </div>
        <div id="tab-produit-categorie" class="tab-pane">
        </div>
        <div id="tab-compte_1" class="tab-pane">
        </div>

{% endblock %}
