<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }
 
</style>

<div class="pagetitle">
    <h1>Liste utilisateur </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                <h5 class="card-title">Liste utilisateur </h5>
              </div>
             
              <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 mt-4 mb-5">
                <button class="btn btn-primary btn-sm" style="width: 100%;"   onclick="return newUtilisateur(true)">Nouveau utilisateur </button>
              </div>
              
            </div>
            <table class="table table-striped" id="liste-table-utilisateur" style="width: 100%;">
              <thead>
                    {% include 'admin/utilisateurs/_table.html.twig' with { 'type': 'thead' } %}
              </thead>
              <tbody>
                {% if listes|length > 0 %}

                  {% for liste in listes %}
                      {% include 'admin/utilisateurs/_table.html.twig' with { 'type': 'tbody', 'liste': liste } %}
                  {% endfor %}
                
                {% else %}
                    <tr>
                        <td>Aucun enregistrement trouvé</td>
                         <td>&nbsp;</td>
                          <td>&nbsp;</td>
                    </tr>
                {% endif %}
                
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
    <div id="blocModalUtilisateurEmpty">
            </div>
  </section>

  <script>
    //datatable
    
    $(document).ready(function() {
      $('#liste-table-utilisateur').DataTable({
        responsive: true,
        language: {
          url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json',
      },
        border: false,
        scrollX: '100%',
        pageLength: 10,
        scrollCollapse: false,
      });
    });

    function newUtilisateur(isNew = false) {
            $.ajax({
                url: '/admin/utilisateurs/new',
                type: 'POST',
                data: {isNew: isNew},
                success: function (response) {
                    $("#blocModalUtilisateurEmpty").empty();
                    $("#blocModalUtilisateurEmpty").append(response.html);
                    $('#modalNewUtilisateur').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de la catégorie.');
                }
            });
    }
  </script>