<style>
    .dataTables_scroll {
      margin-top: 50px !important;
      margin-bottom: 30px !important;
    }
    td, tr {
      border-bottom: none !important;
    }

    .card-head {
        border: 1px solid #2a4ce8;
    }

    .icon-check {
        padding: 5px 8px;
        background-color: #2a4ce8;
        font-size: 25px;
        color: #fff;
        border-radius: 5px;
    }

    .title h3 {
        font-size: 19px;
        color: #2a4ce8;
    }

    .custom-checkbox {
        width: 20px;  
        height: 20px; 
    }
   
  </style>
  
  <div class="pagetitle">
      <h1>Liste facture </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
          <li class="breadcrumb-item active">Liste</li>
        </ol>
      </nav>
    </div>
  <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-head py-4 px-3">
            <div class="row">
                <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                    <div class="title">
                        <h3 class="fw-bold">Factures et avoirs clients</h3>
                    </div>
                </div>
                
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="border-right: none; height: 38px;"><i class="bi bi-people-fill"></i></span>
                                <select name="filter_compte" id="filter_compte" class="mb-3 form-control form-control-md" style="border-left: none;">
                                    <option value="" disabled selected><span class="mx-3">Tapez le nom du client</span></option>
                                    <option value="Client 1">Client 1</option>
                                    <option value="Client 2">Client 2</option>
                                    <option value="Client 3">Client 3</option>
                                    <option value="Client 4">Client 4</option>
                                </select>
                              </div>

                              <div class="input-group mb-3">
                                <span class="input-group-text" style="border-right: none; height: 38px;"><i class="bi bi-person-fill"></i></span>
                                <select name="filter_collaborateur" id="filter_collaborateur" class="mb-3 form-control form-control-md" style="border-left: none;">
                                    <option value="" disabled selected><span class="mx-3">CA Collaborateur</span></option>
                                    <option value="Collaborateur 1">Collaborateur 1</option>
                                    <option value="Collaborateur 2">Collaborateur 2</option>
                                    <option value="Collaborateur 3">Collaborateur 3</option>
                                    <option value="Collaborateur 4">Collaborateur 4</option>
                                </select>
                              </div>
                              

                            

                            <p class="d-flex justify-content-end mb-4">Date facture</p>
                            <p class="d-flex justify-content-end mb-3">Date de paiement</p>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="border-right: none; height: 38px;"><i class="bi bi-file-earmark-text-fill"></i></span>
                                <select name="filter_facture" id="filter_facture" class="mb-3 form-control form-control-md" style="border-left: none;">
                                    <option value="" disabled selected><span class="mx-3">Toutes les factures</span></option>
                                    <option value="Facture 1">Facture 1</option>
                                    <option value="Facture 2">Facture 2</option>
                                    <option value="Facture 3">Facture 3</option>
                                    <option value="Facture 4">Facture 4</option>
                                </select>
                              </div>

                              <div class="input-group mb-3">
                                <span class="input-group-text" style="border-right: none; height: 38px;"><i class="bi bi-tags-fill"></i></span>
                                <select name="filter_facture" id="filter_facture" class="mb-3 form-control form-control-md" style="border-left: none;">
                                    <option value="" disabled selected><span class="mx-3">Tags...</span></option>
                                    <option value="Tags 1">Tags 1</option>
                                    <option value="Tags 2">Tags 2</option>
                                    <option value="Tags 3">Tags 3</option>
                                    <option value="Tags 4">Tags 4</option>
                                </select>
                              </div>

                            <input type="text" name="date_facture" id="date_facture" class="mb-3 form-control form-control-ms date-facture" placeholder="Du dd/mm/yyyy">
                            <input type="text" name="date_paiement" id="date_paiement" class="mb-3 form-control form-control-ms date-facture" placeholder="Du dd/mm/yyyy">
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="border-right: none; height: 38px;"><i class="bi bi-file-earmark-text-fill"></i></span>
                                <select name="filter_facture_2" id="filter_facture_2" class="mb-3 form-control form-control-md" style="border-left: none;">
                                    <option value="" disabled selected><span class="mx-3">Toutes les factures</span></option>
                                    <option value="Facture 1">Facture 1</option>
                                    <option value="Facture 2">Facture 2</option>
                                    <option value="Facture 3">Facture 3</option>
                                    <option value="Facture 4">Facture 4</option>
                                </select>
                              </div>

                              <div class="input-group mb-3">
                                <span class="input-group-text" style="border-right: none; height: 38px;"><i class="bi bi-currency-dollar"></i></span>
                                <select name="filter_reglement" id="filter_reglement" class="mb-3 form-control form-control-md" style="border-left: none;">
                                    <option value="" disabled selected><span class="mx-3">Règlement</span></option>
                                    <option value="Règlement 1">Règlement 1</option>
                                    <option value="Règlement 2">Règlement 2</option>
                                    <option value="Règlement 3">Règlement 3</option>
                                    <option value="Règlement 4">Règlement 4</option>
                                </select>
                              </div>
                              
                            
                            
                            <input type="text" name="date_facture_end" id="date_facture_end" class="mb-3 form-control form-control-ms date-facture" placeholder="Au dd/mm/yyyy">
                            <input type="text" name="date_paiement_end" id="date_paiement_end" class="mb-3 form-control form-control-ms date-facture" placeholder="Au dd/mm/yyyy">
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-12 d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <a style="cursor: pointer;" class="icon-check"><i class="bi bi-check"></i></a>
                    </div>
                </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body p-5">
                <table class="table table-striped table-facture-affaire" id="table-facture-affaire" style="width: 100%;">
                    <thead>
                        <tr class="text-nowrap">
                            <th>Date</th>
                            <th>Type</th>
                            <th>N°</th>
                            <th>Compte</th>
                            <th>Nom</th>
                            <th>Prix TTC</th>
                            <th>Prix HT</th>
                            <th>Règlement</th>
                            <th>Status</th>
                            <th>Réccurence</th>
                            <th>Tags</th>
                            <th>PDF</th>
                            <th>Actions</th>
                            <th>Validation</th>
                            <th><input type="checkbox" class="custom-checkbox" name="" id=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for liste in listes %}
                        <tr class="text-nowrap">
                            <td></td>
                            <td></td>
                            <td> {{liste.numero}} </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><i class="bi bi-plus text-primary"></i></td>
                            <td><i class="bi bi-file-pdf-fill text-danger fs-4"></i></td>
                            <td class="d-flex align-items-center">
                                <i class="bi bi-arrow-clockwise"></i>
                                <div class="dropdown ms-2">
                                    <a class="btn btn-outline-primary dropdown-toggle text-black" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-list"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a style="cursor: pointer;" class="dropdown-item">Modifier</a></li>
                                        <li><a style="cursor: pointer;" class="dropdown-item">Supprimer</a></li>
                                    </ul>
                                </div>
                            </td>
                            
                            <td>
                                <a style="cursor: pointer;"><i class="bi bi-x text-danger fs-4"></i></a>
                                <a style="cursor: pointer;"><i class="bi bi-check text-primary fs-4"></i></a>
                                
                                
                            </td>
                            <td>
                                <input type="checkbox" class="custom-checkbox" name="" id="">
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="15">Aucun enregistrement trouvé</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
          </div>
  
        </div>
      </div>
    </section>
  
    <script>
      //datatable
      
      $(document).ready(function() {
        $('.tab-categorie').removeClass('active');
        $('#tab-produit-categorie').removeClass('active');
        $('.tab-produit-categorie').removeClass('active');
        $('#tab-categorie').removeClass('active');
        $('.tab-import-produit').removeClass('active');
        $('#tab-import-produit').removeClass('active');
  
  
        $('.tab-user').removeClass('active');
        $('#tab-utilisateur').removeClass('active');
  
        $('.tab-permission').removeClass('active');
        $('.tab-privilege').removeClass('active');
        $('.tab-cat-permission').removeClass('active');
        $('#tab-categorie-permission').removeClass('active');
        
        $('#tab-dashboard').removeClass('active');
        $('#tab-profile').removeClass('active');
       
        $('#tab-permission').removeClass('active');
        $('#tab-privilege').removeClass('active');
        $('#tab-transfert-produit').css('display', 'none');
        $('#affaires_client').removeClass('active').empty();
         $('#affaires_fournisseur').removeClass('active').empty();
         $('#tab-info-affaire').removeClass('active').empty();
         $('#tab-financier-affaire').removeClass('active').empty();
        $('#tab-fiche-client').removeClass('active').empty();
        
        $('#tab-application').removeClass('active');
        $('#tab-profile').removeClass('active');
         $('#tab-compte_1').removeClass('active');
        $('#tab-produit-type').removeClass('active');
        $('.tab-produit-type').removeClass('active');
        $('#tab-import-produit').css('display', 'none');
        $('#tab-facture').css('display', 'block');
        $('#tab-facture-affaire').css('display', 'none');
  
        $('.table-facture-affaire').DataTable({
            responsive: true,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json',
            },
            border: false,
            scrollX: '100%',
            pageLength: 10,
            scrollCollapse: false,
        });
      });

      $(document).ready(function() {
        var dateFormat = 'dd/mm/yyyy';
        var dateNow = new Date();
        dateNow.setDate(dateNow.getDate() + 1)

        $('.date-facture').datepicker({
            format: dateFormat,
            todayHighlight: true,
            daysOfWeekDisabled: '0',
            startDate: dateNow,
            language: 'fr',
            autoclose: true,

        });

    });
  
    </script>