<style>
  .dataTables_scroll {
    margin-top: 50px !important;
    margin-bottom: 30px !important;
  }
  td, tr {
    border-bottom: none !important;
  }
 
</style>

<div class="pagetitle">
    <h1>Tous les <span class="compte-title">clients</span> </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{path('app_admin')}}">Tableau de board</a></li>
        <li class="breadcrumb-item active">Liste</li>
      </ol>
    </nav>
  </div>
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card p-5" style="border-radius: 20px;">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="user-icon">
                        <i class="bi bi-person"></i>
                    </span>
                </div>
                <select class="form-control form-control-sm chosen-select" id="user-select">
                    <option value="" selected disabled class="option-compte">Nom du client</option>
                    {% for liste in listes %}
                      <option value="{{liste.id}}"> {{liste.nom}} </option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <span class="input-group-text" id="search-icon">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="user-icon">
                        <i class="bi bi-calendar"></i>
                    </span>
                </div>
                <input type="text" class="form-control form-control-sm date-start" id="user-date-start" placeholder="Date de début" />
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="user-icon">
                        <i class="bi bi-calendar"></i>
                    </span>
                </div>
                <input type="text" class="form-control form-control-sm date-end" id="user-date-end" placeholder="Date fin" />
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                {#<h5 class="card-title fw-bold">Liste compte </h5>#}
              </div>
             
              <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 mt-4 mb-5">
                <button class="btn btn-primary btn-sm" style="width: 100%;"   onclick="return newCompte(true)">Nouveau compte </button>
              </div>
              
            </div>
            <table class="table table-striped" id="liste-table-compte" style="width: 100%;">
              <thead>
                    {% include 'admin/comptes/_table.html.twig' with { 'type': 'thead' } %}
              </thead>
              <tbody>
                {% if listes|length > 0 %}

                  {% for liste in listes %}
                      {% include 'admin/comptes/_table.html.twig' with { 'type': 'tbody', 'liste': liste } %}
                  {% endfor %}
                
                {% else %}
                    <tr>
                        <td>Aucun enregistrement trouvé</td>
                         <td>&nbsp;</td>
                          <td>&nbsp;</td>
                    </tr>
                {% endif %}
                
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
    <div id="blocModalCompteEmpty">
            </div>
  </section>

  <script>
    
    //datatable
    $(document).ready(function() {
 $('.tab-compte_1').addClass('active');
       $('.tab-user').addClass('active');
      $('.tab-permission').removeClass('active');
      $('.tab-privilege').removeClass('active');
      $('.tab-cat-permission').removeClass('active');
      $('#tab-dashboard').removeClass('active');
      $('#tab-profile').removeClass('active');
      $('#tab-utilisateur').removeClass('active');
      $('#tab-permission').removeClass('active');
      $('#tab-privilege').removeClass('active');
      $('#categorie-permission').removeClass('active');
      $('#tab-application').removeClass('active');
      $('.tab-categorie').removeClass('active');
      $('#tab-produit-categorie').removeClass('active');
      $('.tab-produit-categorie').removeClass('active');
      $('#tab-categorie').removeClass('active');  
      $('#tab-produit-type').removeClass('active');
     

      $('#liste-table-compte').DataTable({
        responsive: true,
        language: {
          url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json',
      },
        border: false,
        scrollX: '100%',
        pageLength: 10,
        scrollCollapse: false,
      });
    });

    function newCompte(isNew = false) {
            $.ajax({
                url: '/admin/comptes/new',
                type: 'POST',
                data: {isNew: isNew},
                success: function (response) {
                    $("#blocModalCompteEmpty").empty();
                    $("#blocModalCompteEmpty").append(response.html);
                    $('#modalNewCompte').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Gérer l'erreur (par exemple, afficher un message d'erreur)
                    alert('Erreur lors de l\'ajout de la compte.');
                }
            });
    }

     //date-picker

 $(document).ready(function() {
  var dateFormat = 'dd/mm/yyyy';
  var dateNow = new Date();
  dateNow.setDate(dateNow.getDate() + 1)

  $('.date-start, .date-end').datepicker({
      format: dateFormat,
      todayHighlight: true,
      daysOfWeekDisabled: '0',
      startDate: dateNow,
      language: 'fr',

  });

});

  </script>